<h6><%= moment(date.$date).format('dddd MMM D, YYYY') %></h6>
<h3><%= primary_type %> <br/> <span class="light"><%= typeof description !== 'undefined' ? description : '' %></span></h3>
<h5><%= block %> <br/> <span class="light">(<%= typeof location_description !== 'undefined' ? location_description : '' %>)</span></h5>
<p>
    <strong>Arrest? </strong>
    <% if(arrest == 'true' || arrest == true){ %> 
        <i class="foundicon-checkmark"></i>&nbsp;&nbsp;
    <% } else { %> 
        <i class="foundicon-remove"></i>&nbsp;&nbsp;
    <% } %> 
    <strong>Domestic? </strong>
    <% if(domestic == 'true' || domestic == true){ %> 
        <i class="foundicon-checkmark"></i>
    <% } else { %> 
        <i class="foundicon-remove"></i>
    <% } %> 
</p>
<table class="twelve">
    <thead>
        <tr>
            <th>Beat</th>
            <th>District</th>
            <th>Comm Area</th>
            <th>Ward</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= typeof beat !== 'undefined' ? beat : '' %></td>
            <td><%= typeof district !== 'undefined' ? district : '' %></td>
            <td><%= typeof community_area !== 'undefined' ? community_area : ''%></td>
            <td><%= typeof ward !== 'undefined' ? ward : '' %></td>
        </tr>
    </tbody>
</table>
