<p><%= moment(orig_date).utc().format('dddd MMM D, YYYY h:mma') %></p>
<h3><%= primary_type %><br /><span class="light"><%= typeof description !== 'undefined' ? description : '' %></span></h3>
<p>
<strong><%= block.replace("XX", "00").replace("0X", "00") %></strong> <br />
<%= typeof location_description !== 'undefined' ? location_description : '' %>
</p>

<table class="twelve">
    <thead>
        <tr>
            <th>Ward</th>
            <th>Beat</th>
            <th>Arrest?</th>
            <th>Domestic?</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= typeof ward !== 'undefined' ? ward : '' %></td>
            <td><%= typeof beat !== 'undefined' ? beat : '' %></td>
            <td>
                <% if(arrest == 'true' || arrest == true){ %> 
                    Yes
                <% } else { %> 
                    No
                <% } %> 
            </td>
            <td>
                <% if(domestic == 'true' || domestic == true){ %> 
                    Yes
                <% } else { %> 
                    No
                <% } %> 
            </td>
        </tr>
    </tbody>
</table>
