<% var parsed_date = moment(date, 'MM-DD-YYYY') %>
<div id="overlay-top">
<h3 class="light"><%= parsed_date.format('dddd, MMMM D, YYYY')%></h3>
<form>
    <fieldset>
        <legend>Pick another date</legend>
        <select class="date-select" id="month">
            <% $.each(['January','February','March','April','May','June','July','August','September','October','November','December'], function(i, month){ %> 
                <option value="<%= moment(month, 'MMMM').format('M') %>"<% if(parsed_date.format('MMMM') == month){ %> selected="True"<% } %>><%= month %></option>
            <% }) %>
        </select>
        <select class="date-select" id="day">
            <% $.each(Array.range(1,parsed_date.daysInMonth()), function(i, day){ %> 
                <option value="<%= day %>"<% if(parsed_date.format('D') == day){ %> selected="True"<% } %>><%= day %></option>
            <% }) %>
        </select>
        <select class="date-select" id="year">
            <% $.each(Array.range(2001, 2013), function(i, year){ %> 
                <option value="<%= year %>"<% if(parsed_date.format('YYYY') == year){ %> selected="True"<% } %>><%= year %></option>
            <% }) %>
        </select>
    </fieldset>
</form>
<div class="six columns temp">
    <h3 class="light"><%= weather.CELSIUS_MAX %>&deg; C</h3>
    <h5 class="light"><%= weather.CELSIUS_MIN %>&deg; C (low)</h5>
</div>
<div class="six columns temp">
    <h3 class="light"><%= weather.FAHR_MAX %>&deg; F</h3>
    <h5 class="light"><%= weather.FAHR_MIN %>&deg; F (low)</h5>
</div>
<hr />
</div>
<h3 id="crime-title">Crimes <span class="light">(Total: <%= meta.total.value %>)</span></h3>
<div class="hide-overflow">
    <% $.each(meta.detail, function(i, val){ %> 
        <% if(val.key != 'total'){ %>
            <label for="<%= val.key %>">
                <input class="filter" name="<%= val.key %>" type="checkbox" checked="true" />
                <strong><%= val.name %></strong> (<%= val.value %>)
            </label> 
        <% } %>
    <% }) %>
</div>
