<% var parsed_date = moment(date, 'MM-DD-YYYY') %>
<h3 class="light">
    Sorry, no data for <br />
    <%= parsed_date.format('MMMM D, YYYY')%> 
    yet.
</h3>
<form>
    <fieldset>
        <legend>Pick another date</legend>
        <select class="date-select" id="month">
            <% $.each(['January','February','March','April','May','June','July','August','September','October','November','December'], function(i, month){ %> 
                <option value="<%= moment(month, 'MMMM').format('M') %>"<% if(parsed_date.format('MMMM') == month){ %> selected="True"<% } %>><%= month %></option>
            <% }) %>
        </select>
        <select class="date-select" id="day">
            <% $.each(Array.range(1,parsed_date.daysInMonth()), function(i, day){ %> 
                <option value="<%= day %>"<% if(parsed_date.format('D') == day){ %> selected="True"<% } %>><%= day %></option>
            <% }) %>
        </select>
        <select class="date-select" id="year">
            <% $.each(Array.range(2001, 2013), function(i, year){ %> 
                <option value="<%= year %>"<% if(parsed_date.format('YYYY') == year){ %> selected="True"<% } %>><%= year %></option>
            <% }) %>
        </select>
    </fieldset>
</form>
