<form>
    <fieldset>
        <legend>Date</legend>
        <input class="filter start" type="text" value="Start Date: <%= moment().subtract('d', 14).format('YYYY-MM-DD') %>" placeholder="Start Date"/>
        <input class="filter end" type="text" value="End Date: <%= moment().subtract('d', 7).format('YYYY-MM-DD') %>" placeholder="End Date"/>
    </fieldset>
    <fieldset>
        <legend>Type</legend>
        <select id="crime-type" data-placeholder="Crime type ..." class="chosen-select" multiple>
            <option value=""></option>
            <option value="THEFT">Theft</option>
            <option value="BATTERY">Battery</option>
            <option value="CRIMINAL DAMAGE">Criminal Damage</option>
            <option value="NARCOTICS">Narcotics</option>
            <option value="OTHER OFFENSE">Other Offense</option>
            <option value="ASSAULT">Assault</option>
            <option value="BURGLARY">Burglary</option>
            <option value="MOTOR VEHICLE THEFT">Motor Vehicle Theft</option>
            <option value="ROBBERY">Robbery</option>
            <option value="DECEPTIVE PRACTICE">Deceptive Practice</option>
            <option value="CRIMINAL TRESPASS">Criminal Trespass</option>
            <option value="PROSTITUTION">Prostitution</option>
            <option value="WEAPONS VIOLATION">Weapons Violation</option>
            <option value="PUBLIC PEACE VIOLATION">Public Peace Violation</option>
            <option value="OFFENSE INVOLVING CHILDREN,OFFENSES INVOLVING CHILDREN">Offense Involving Children</option>
            <option value="SEX OFFENSE">sex offense</option>
            <option value="CRIM SEXUAL ASSAULT">Criminal Sexual Assault</option>
            <option value="GAMBLING">Gambling</option>
            <option value="LIQUOR LAW VIOLATION">Liquor Law Violation</option>
            <option value="ARSON">Arson</option>
            <option value="HOMICIDE">Homicide</option>
            <option value="INTERFERE WITH PUBLIC OFFICER,INTERFERENCE WITH PUBLIC OFFICER">Interference with a public officer</option>
            <option value="KIDNAPPING">Kidnapping</option>
            <option value="INTIMIDATION">Intimidation</option>
            <option value="STALKING">Stalking</option>
            <option value="OBSCENITY">Obscenity</option>
            <option value="PUBLIC INDECENCY">Public Indecency</option>
            <option value="OTHER NARCOTIC VIOLATION">Other Narcotic Violation</option>
            <option value="RITUALISM">Ritualism</option>
            <option value="NON-CRIMINAL,NON-CRIMINAL (SUBJECT SPECIFIED)">Non-criminal</option>
            <option value="OTHER OFFENSE">Other Offense</option>
        </select>
        <br /><br />
        <select id="crime-location" data-placeholder="Location type ..." class="chosen-select" multiple>
            <option value="airport">Airport</option>
            <option value="business_banking">Business - Banking</option>
            <option value="business_eatery">Business - Eatery</option>
            <option value="business_hotel_motel">Business - Hotel/Motel</option>
            <option value="business_liquor">Business - Liquor</option>
            <option value="business_office">Business - Office</option>
            <option value="business_retail">Business - Retail</option>
            <option value="cha">Chicago Housing Authority Property</option>
            <option value="cta">Chicago Transit Authority Property</option>
            <option value="gov">Government Property</option>
            <option value="hospital">Hospital/Nursing Home</option>
            <option value="library">Library</option>
            <option value="indoors_residence">Indoors - Residence</option>
            <option value="other">Other</option>
            <option value="outdoors_public">Outdoors - Public</option>
            <option value="outdoors_residence">Outdoors - Residence</option>
            <option value="worship">Place of Worship</option>
            <option value="school">School</option>
            <option value="transportation">Transportation</option>
            <option value="vacant">Vacant Property</option>
            <option value="vehicle">Vehicle</option>
        </select>
    </fieldset>
    <fieldset>
        <legend>Filter by police beat</legend>
        <select id="police-beat" data-placeholder="Police Beat ..." class="chosen-select" multiple>
            <% $.each(resp, function(district, beats){ %> 
                <optgroup label="<%= district %>">
                    <% $.each(beats, function(i, beat){ %> 
                        <option value="<%= beat %>"><%= beat %></option>
                    <% }) %>
                </optgroup>
            <% }) %>
        </select>
    </fieldset>
</form>
