<div class="row">
    <div class="nine columns">
        <h3><%= offenderName %><span class="light"> <%= warrantNo %></span></h3>
        <h5 class="light"><%= description %></h5>
        <table class="twelve">
            <thead>
                <tr>
                    <th>Age</th>
                    <th>Weight</th>
                    <th>Height</th>
                    <th>Birth Date</th>
                    <th>Eye Color</th>
                    <th>Hair Color</th>
                    <th>Race</th>
                    <th>Complexion</th>
                    <th>Sex</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= age %></td>
                    <td><%= weight %></td>
                    <td><%= height %></td>
                    <td><%= birthDate %></td>
                    <td><%= eyeColor %></td>
                    <td><%= hairColor %></td>
                    <td><%= race %></td>
                    <td><%= complexion %></td>
                    <td><%= sex %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="three columns">
        <% $.each(mugs, function(i, mug){ %> 
            <% if(mug.angle == 1){ %> 
                <img src="<%= mug.image_path %>" />
            <% } else { %> 
                <a href="<%= mug.image_path %>" target="_blank">Alternate view</a>
            <% } %>
        <% }) %>
    </div>
</div>
